@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-Thin.ttf");
  src: url("./fonts/montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-Light.ttf");
  src: url("./fonts/montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-Regular.ttf");
  src: url("./fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("./fonts/montserrat/Montserrat-Medium.ttf");
  src: url("./fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-SemiBold.ttf");
  src: url("./fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-Bold.ttf");
  src: url("./fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-ExtraBold.ttf");
  src: url("./fonts/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-Black.ttf");
  src: url("./fonts/montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Gagalin";
  src: url("./fonts/Gagalin-Regular.otf");
  src: url("./fonts/Gagalin-Regular.otf") format("truetype");
  font-weight: 400;
}
